<app-header (scrollToSection)="scrollTo($event)" />
<app-hero id="hero" data-aos="fade-up" />
<app-treatments id="treatments" data-aos="fade-up" data-aos-delay="40" />
<app-features data-aos="fade-up" data-aos-delay="80" />
<app-techniques data-aos="fade-up" data-aos-delay="120" />
<app-location id="location" data-aos="fade-up" data-aos-delay="140" />
<app-about id="about" data-aos="fade-up" data-aos-delay="170" />
<app-clinic-preview data-aos="zoom-in-up" data-aos-delay="190" />
<app-about-ceo data-aos="fade-up" data-aos-delay="210" />
<app-footer />

