<footer>
  <div class="content">
    <div class="section">
      <h3>Endereço</h3>
      <p>Av. Castelo Branco, 896 - Sala 606</p>
      <p>Horto, Ipatinga - MG</p>
      <p>CEP: 35160-294</p>
    </div>

    <div class="section">
      <h3>Contato</h3>
      <p>(31) 99931-6529</p>
      <p>contarelicentrodefisioterapia&#64;gmail.com</p>
    </div>

    <div class="section">
      <h3>Horário</h3>
      <p>Segunda à Sexta:</p>
      <p>07:00 - 19:00</p>
      <p>Sábado: 07:00 - 13:00</p>
      <p class="disclaimer">* Mediante a agendamento</p>
    </div>

    <div class="section">
      <h3>Redes Sociais</h3>
      <div class="social-links">
        <a
          href="https://www.instagram.com/contarelifisioterapia/"
          class="link"
          aria-label="Instagram"
        >
          <img src="/icons/instagram.png" alt="Instagram" />
        </a>
      </div>
    </div>
  </div>

  <div class="copy">
    <p>
      &copy; 2024 Contareli Centro de Fisioterapia. Todos os direitos
      reservados.
    </p>
  </div>
</footer>
