<section>
  <div class="container">
    <div class="image-container">
      <div>
        <img
          src="images/samara.webp"
          alt="Dra. Samara Contareli"
          class="doctor-image"
          loading="lazy"
        />
      </div>
    </div>

    <div class="content">
      <div class="title-container">
        <span class="subtitle">Conheça nossa fisioterapeuta</span>
        <h2 class="title">Dra. Samara Contareli</h2>
        <span class="specialty">CREFITO 417663 </span>
      </div>

      <div class="qualifications">
        <div class="qualification-item">
          <div class="icon">
            <img src="icons/academic.png" alt="academic" loading="lazy" />
          </div>
          <div class="items">
            <h3>Formações</h3>
            <p>✔ Neurodinâmica Clínica</p>
            <p>✔ Terapia Manual Moderna</p>
            <p>✔ Método Mulligan</p>
            <p>✔ Conceito Maitland</p>
            <p>✔ Quiropraxia</p>
            <p>✔ Tratamento de Dores Crônicas</p>
            <p>✔ Método Pilates</p>
            <p>✔ Liberação Miofascial Manual e Instrumental</p>
            <p>✔ Dry Needling</p>
            <p>✔ Tratamento de Tendinopatias</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
