<header>
  <a href="https://contarelifisioterapia.com.br/"><img src="images/logo.png" alt="Logo Contareli Centro de Fisioterapia" /></a>
  <nav>
    <ul class="nav-list">
      <li (click)="scrollTo('hero')" role="link">Início</li>
      <li (click)="scrollTo('about')" role="link">Sobre</li>
      <li (click)="scrollTo('treatments')" role="link">Tratamentos</li>
      <li (click)="scrollTo('location')" role="link">Localização</li>
      <li class="schedule-button" role="button">
        <a href="https://wa.me/5531999316529">Agendar</a>
      </li>
    </ul>
  </nav>
</header>
