@use "../../variables" as palete;

:host {
  width: 100%;
  height: fit-content;
  color: palete.$verdeEscuro;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 2em;
  padding-top: 3em;
  padding-bottom: 7em;

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 50%;
    padding: 3em;

    h1 {
      font-size: 3.5rem;
    }

    .subtitle {
      font-size: 1.25rem;
      color: palete.$verdeMedio;
    }

    .schedule-button {
      padding: 1em 1.5em;
      background: linear-gradient(135deg, #074c2d, #0b7545);
      color: palete.$branco;
      border-radius: 25px;
      font-weight: 700;
      width: 15em;
      border: 0;
      font-size: 1.125rem;
      letter-spacing: 0.04rem;
      position: relative;
      overflow: hidden;
      z-index: 1;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 6px rgba(7, 76, 45, 0.2);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100%;
        background: linear-gradient(
          120deg,
          transparent,
          rgba(255, 255, 255, 0.2),
          transparent
        );
        z-index: -1;
        transition: left 0.7s ease;
      }

      &:hover {
        cursor: pointer;
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(7, 76, 45, 0.25);
        background-color: palete.$verdeMedio;

        &::before {
          left: 100%;
        }
      }

      &:active {
        transform: translateY(1px);
        box-shadow: 0 2px 4px rgba(7, 76, 45, 0.3);
      }

      a {
        text-decoration: none;
        color: inherit;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  img {
    width: 45%;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  @media (max-width: 968px) {
    .content {
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    flex-direction: column;
    gap: 0;
  }

  @media (max-width: 768px) {
    padding-top: 1em;
    padding-bottom: 4em;

    img {
      display: none;
    }
  }

  @media (max-width: 340px) {
    .content {
      h1 {
        font-size: 2.5rem;
      }

      .schedule-button {
        width: 10em;
        padding: 0.75em;
      }
    }
  }
}
