@use "../../variables" as palete;

:host {
  width: 100%;
  height: 80vh;
  color: palete.$verdeEscuro;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 2em;
  padding-top: 3em;

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 50%;
    padding: 3em;

    h2 {
      font-size: 3.5rem;
    }

    .subtitle {
      font-size: 1.25rem;
      color: palete.$verdeMedio;
    }

    .schedule-button {
      padding: 1em 1.5em;
      background-color: palete.$verdeEscuro;
      color: palete.$branco;
      border-radius: 25px;
      transition: background-color 0.3s ease;
      font-weight: 700;
      width: 15em;
      border: 0;
      font-size: 1.125rem;

      &:hover {
        background-color: palete.$verdeMedio;
      }
    }
  }

  img {
    width: 40%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 968px) {
    .content {
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    flex-direction: column;
    gap: 0;
  }

  @media (max-width: 768px) {
    img {
      display: none;
    }
  }

  @media (max-width: 340px) {
    .content {
      h2 {
        font-size: 2.5rem;
      }

      .schedule-button {
        width: 10em;
        padding: 0.75em;
      }
    }
  }
}
