<section class="map-container">
  <div class="map">
    <div class="location">
      <p class="address">
        Av. Castelo Branco, 896 - Sala 606 - Horto, Ipatinga - MG, 35160-294
      </p>
      <p>
        Horário de atendimento: Segunda à Sexta 09:00 - 18:00
      </p>
    </div>
    <google-map
      [options]="{
        center: { lat: -19.50834073361128, lng: -42.57360633015932 },
        zoom: 15
      }"
      width="18em"
      height="8em"
    >
      <map-marker
        [position]="{ lat: -19.50834073361128, lng: -42.57360633015932 }"
      ></map-marker>
    </google-map>
  </div>
</section>
