<section>
  <h2>Condições Tratadas</h2>
  <div class="treatments-cards">
    <div class="treatment-card">
      <div class="card-header">
        <img src="icons/backbone.png" alt="Ícone de coluna vertebral" />
        <h3>Dores na Coluna Vertebral</h3>
      </div>
      <p>• Lombalgia e cervicalgia</p>
      <p>• Hérnia de disco e ciatalgia</p>
      <p>• Dorsalgia</p>
    </div>
    <div class="treatment-card">
      <div class="card-header">
        <img src="icons/knee.png" alt="Ícone de joelho" />
        <h3>Lesões e Disfunções Articulares</h3>
      </div>
      <p>• Tendinites e bursites</p>
      <p>• Síndrome do impacto do ombro</p>
      <p>• Condromalácia patelar</p>
    </div>
    <div class="treatment-card">
      <div class="card-header">
        <img src="icons/nervPain.png" alt="Ícone de dor neuropática" />
        <h3>Dores Neuropáticas e Irradiações</h3>
      </div>
      <p>• Síndrome do túnel do carpo</p>
      <p>• Dor irradiada para braços e pernas</p>
      <p>• Neuropatias periféricas</p>
    </div>
    <div class="treatment-card">
      <div class="card-header">
        <img src="icons/pain.png" alt="Ícone de dor" />
        <h3>Dores Crônicas e Síndromes Dolorosas</h3>
      </div>
      <p>• Fibromialgia e dor miofascial</p>
      <p>• Síndrome da dor complexa</p>
    </div>
    <div class="treatment-card">
      <div class="card-header">
        <img src="icons/forearm.png" alt="Ícone de antebraço" />
        <h3>Lesões e Disfunções Musculares</h3>
      </div>
      <p>
        • Dor miofascial e pontos gatilhos (tensão e nódulos musculares
        dolorosos)
      </p>
      <p>• Tensões e contraturas musculares</p>
      <p>• Distensões musculares</p>
      <p>• Lesões por esforço repetitivo</p>
      <p>• Contusões musculares</p>
    </div>
    <div class="treatment-card">
      <div class="card-header">
        <img src="icons/surgery.png" alt="Ícone de cirurgia" />
        <h3>Reabilitação Pós-Cirúrgica</h3>
      </div>
      <p>
        • <span>Cirurgia do joelho</span> (ligamento cruzado anterior – LCA,
        menisco, prótese total)
      </p>
      <p>
        • <span>Cirurgia do ombro</span> (reparo do manguito rotador,
        instabilidade, artroplastia)
      </p>
      <p>
        • <span>Cirurgia da coluna</span> (hérnia de disco, artrodese,
        microdiscectomia)
      </p>
      <p>
        • <span>Cirurgia do quadril</span> (prótese de quadril, artroscopia para impacto
        femoroacetabular)
      </p>
      <p>
        • <span>Cirurgia do tornozelo e pé</span> (reconstrução ligamentar, fraturas, fascite
        plantar)
      </p>
      <p>
        • <span>Fraturas e osteossínteses</span> (placas, parafusos e fixadores externos)
      </p>
    </div>
  </div>
</section>
