<section>
  <h2>O Que Oferecemos</h2>

  <div class="features-card">
    <div class="image-container">
      <img
        src="images/tratamentos.jpg"
        alt="Imagem para profissional realizando tratamento para as dores articulares"
        loading="lazy"
      />
    </div>

    <div class="features">
      <div class="feature">
        <h3>Diagnóstico Preciso</h3>
        <p>
          • Avaliação detalhada e personalizada para identificar a causa raiz do
          seu problema.
        </p>
      </div>

      <div class="feature">
        <h3>Terapias Inovadoras</h3>
        <p>
          • Utilizamos as técnicas mais modernas e eficazes em fisioterapia.
        </p>
      </div>

      <div class="feature">
        <h3>Reabilitação Funcional</h3>
        <p>
          • Programas personalizados focados no seu objetivo e estilo de vida.
        </p>
      </div>

      <div class="feature">
        <h3>Educação sobre Dor</h3>
        <p>
          • Entenda melhor sua condição e aprenda estratégias para gerenciar a
          dor.
        </p>
      </div>
    </div>
  </div>
</section>
