<section class="techniques-container">
  <h2>Nossas Técnicas</h2>

  <div class="card flex justify-center">
    <p-accordion value="0">
      <p-accordion-panel value="0">
        <p-accordion-header class="accordion-header"
          >Terapia Manual Avançada
        </p-accordion-header>
        <p-accordion-content class="accordion-content">
          <p class="m-0">
            ✅ Mobilização e manipulação articular (Maitland, Mulligan,
            Quiropraxia)
          </p>
          <p class="m-0">✅ Técnicas para restaurar movimento e reduzir dor</p>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel value="1">
        <p-accordion-header class="accordion-header"
          >Dry Needling (Agulhamento Seco)
        </p-accordion-header>
        <p-accordion-content>
          <p class="m-0">✅ Alívio imediato da dor muscular</p>
          <p class="m-0">✅ Redução de pontos-gatilho dolorosos</p>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel value="2">
        <p-accordion-header class="accordion-header"
          >Neurodinâmica e Mobilização Neural
        </p-accordion-header>
        <p-accordion-content>
          <p class="m-0">✅ Tratamento para dores irradiadas e formigamentos</p>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel value="3">
        <p-accordion-header class="accordion-header"
          >Exercícios Terapêuticos e Reabilitação Funcional
        </p-accordion-header>
        <p-accordion-content>
          <p class="m-0">✅ Exercícios personalizados para alívio da dor</p>
          <p class="m-0">
            ✅ Programas individualizados voltados para sua rotina
          </p>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
  </div>
</section>
